<nav>
    <a href="/"> home</a>
    <a href="/hola"> hola</a>
    <a href="/teachers"> teachers</a>
    <a href="/tecnologies"> tecnologias</a>
    <a href="/profesoresSSG"> Lista profesoresSSG</a>
    <a href="/profesoresCSR"> Lista profesoresCSR</a>
    <a href="/diasLectivos"> diasLectivos</a>
    <a href="/muestraTiempo"> muestraTiempo</a>
    <a href="/books"> Libros</a>
</nav>

<style>
    nav {
        display: flex;
        gap: 5px;
        width: 100%;
        justify-content: space-around;
        flex-grow: 1;
        background-color: paleturquoise;
    }
    nav a {
        text-decoration: none;
        transition: all 1s;
        text-align: center;
    }
    nav a:hover {
        color: blue;
    }
</style>
